<div class="container">
      <ng-template #customLoadingTemplate>
        <div class="custom-class">
        </div>
      </ng-template>s
  <div class="alert alert-dark reg-alert" role="alert">
    <div class="row" style="margin: 25px 0;">
      <div class="col align-self-center">
        <div class="text-center">

          <div class="reg-head">
            <div></div>
            <h2>Login</h2>
            <div></div>
          </div>

          <p style="color: grey; margin-bottom: 30px;">Login to download your certificate</p>
        </div>

        <form>
            <div class="form-group mb-3">
                <input type="input" [(ngModel)]="login.username" class="form-control" id="username" name="username"
                aria-describedby="username" placeholder="username" required>
            </div>
            <div class="form-group mb-3">
                <input type="password" [(ngModel)]="login.password" class="form-control" id="password"
                aria-describedby="lastName" name="password" placeholder="password" required>
            </div>

            <input type="submit" value="Login" (click)="loginUser()" class="btn btn-success" style="width: 100%; margin-top: 15px;" />
        </form>

      </div>
    </div>
      <div *ngIf="loginInvalid" class="alert alert-danger" style="background-color: #d2525e;">Invalid Login Info</div>

  </div>

  <p class="text-center" style="margin-bottom: 20px; padding: 10px;">Not a member yet? <a
      [routerLink]="['/register']" style="color: black; font-weight: 900" href="">Register</a></p>

          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
          </ngx-loading>
</div>
