@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Lobster|Varela+Round&display=swap");


.cert-container {
  font-family: "Varela Round",
  sans-serif;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}

.top-con {
    max-height: 90vh !important;
}

.cert-template {
  max-width: 150px;
  padding: 10px;
}

h4 {
  color: goldenrod;
  font-size: 3em;
  font-family: "Varela Round",
  sans-serif;
  font-weight: 900;
}


.top-cert-input {
  display: flex;
}

.cert-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}

.cert-input>:first-child {
  border-bottom: 1px solid goldenrod;
  width: 50%;
  font-size: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.cert-input .head {
    font-size: 30px;
      font-family: 'Kaushan Script',
      cursive;
}

.cert-input>:first-child::first-letter {
  text-transform: uppercase;
}

.cert-input>:last-child {
  margin: 0;
  padding-top: 2px;
  font-size: 8px;
  line-height: 0.5rem;
}

/* .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 500px;
    margin-top: 80px;
} */
.cert-extra {
  font-size: 15px;
  color: grey;
  margin: 0;
  padding: 10px;
  line-height: 1rem;
}


@media print,
screen and (max-width: 1199px) {
  h4 {
    font-size: 2.5em;
    }
  .cert-input .head {
    font-size: 27px !important;
  }

  .cert-input>:first-child {
    font-size: 17px;
  }
}

@media print,
screen and (max-width: 991px) {
    h4 {
      font-size: 1.5em;
    }

    .cert-input .head {
      font-size: 1 !important;
    }

    .cert-input>:first-child {
      font-size: 17px;
    }

    .cert-container {
      top: 25px;
    }

    .cert-template {
      max-width: 100px;
    }

    .cert-extra {
      font-size: 12px;
    }

.cert-sn {
  display: none;
  ;
}
}

@media print,
screen and (max-width: 767px) {
      h4 {
        font-size: 1em;
        margin-bottom: 0px;
      }

      .cert-input .head {
        font-size: 11px !important;
      }

      .cert-input>:first-child {
        font-size: 10px;
      }

      .cert-container {
        top: 25px;
      }

      .cert-template {
        max-width: 50px;
        padding: 5;
      }

      .cert-input>:last-child {
        font-size: 6px;
      }

      .cert-extra {
        font-size: 10px;
      }

      .cert-sn {
        display: none;;
      }
}

@media print,
screen and (max-width: 520px) {
  h4 {
    font-size: 0.8em;
  }
  .cert-none {
    display: none;
  }

.cert-sn {
  display: none;
  ;
}
}